* {
  box-sizing: border-box;
}

html {
  font-size: 64%;
  background: #ededed;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

li {
  list-style-type: none;
  white-space: nowrap;
}
